<!DOCTYPE html>
<html ng-app="madmotors" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MadMotors - Encontre aqui seu veículo</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/modern-business.css" rel="stylesheet">

        <!-- AngularJS (obrigatório para utilizar o AngularJS -->
        <script type="text/javascript" src="js/angular.min.js"></script>
        <!-- homeCtrl -->
        <script type="text/javascript" src="js/homeCtrl.js"></script>
        <!-- JQuery -->
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>


    </head>

    <body ng-controller="homeCtrl">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><i class="fa fa-home" aria-hidden="true"></i> MadMotors</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="login.html"><i class="fa fa-user"></i> Login</a>
                        </li>
                        <li>
                            <a href="cadastro.php"><i class="fa fa-pencil"></i> Cadastrar</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <header id="myCarousel" class="carousel slide" style="margin-top:10px">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url('images/slide-one.png');"></div>
                    <div class="carousel-caption">
                        <h2>Banner 1</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('images/slide-two.png');"></div>
                    <div class="carousel-caption">
                        <h2>Banner 2</h2>
                    </div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url('images/slide-three.png');"></div>
                    <div class="carousel-caption">
                        <h2>Banner 3</h2>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </header>

        <div class="container" style="margin-top:10px">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding:20px">
                        <div class="row">
                            <div class="col-lg-4" style="margin-top:10px">
                                <select class="form-control">
                                    <option value="">Selecione uma marca</option>
                                    <option ng-repeat="marca in marcas| orderBy:'nome'">{{marca.nomeMarca}}</option>
                                </select>
                            </div>
                            <div class="col-lg-8" style="margin-top:10px">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Pesquisar...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4" style="margin-top:10px">
                                <select class="form-control">
                                    <option value="">Selecione um modelo</option>
                                    <option ng-repeat="modelo in modelos| orderBy:'nome'">{{modelo.nomeModelo}}</option>
                                </select>
                            </div>
                            <div class="col-lg-4" style="margin-top:10px">
                                <center>Preço<span id="valueRangePreco"></span></center>
                                <input id="rangePreco" type="range" min="1000.00" max="2000000.00" step="1000">
                            </div>
                            <div class="col-lg-4" style="margin-top:10px">
                                <center>Ano<span id="valueRangeAno"></span></center>
                                <input id="rangeAno" type="range" min="1910" max="2017">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="anuncio in anuncios" class="col-lg-4 col-md-4 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{anuncio.nomeMarca}} {{anuncio.nomeModelo}} - {{anuncio.ano}}
                        </div>
                        <div class="panel-body">
                            <image class="img-rounded" src="http://g1.globo.com/Noticias/Carros/foto/0,,14530395-EX,00.jpg" style="width: 100%; height: auto"/>
                            <hr style="width: 100%"/>
                            <b>Combustível:</b> {{anuncio.combustivel}}<br/>
                            <b>Cambio:</b>{{anuncio.cambio}}<br/>
                            <b>Km: </b>{{anuncio.quilometragem}} <br/><br/>
                            
                            <b>Contatos</b><br/>
                            <b>Email:</b> {{anuncio.email}}<tr/><br/>
                            <b>Telefone:</b> {{anuncio.telefone1}}<br/>
                            <span>{{anuncio.estado}} - {{anuncio.bairro+", "+anuncio.cidade}}</span> <br/><br/>
                            
                            <h3 style="text-align: right">R${{anuncio.preco}},00</h3>
                            <hr style="width: 100%"/>
                            <b>Data do anuncio: </b>{{anuncio.dataAnuncio}}<br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Script to Activate the Carousel -->
        <script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })
        </script>
    </body>
</html>
